<div class="righ-align">
    <form asp-area="" asp-controller="AccountManager" asp-action="UserList" method="get">
        <i class="fa fa-search"></i>
        <input type="text" placeholder="Поиск" name="search">
    </form>
</div>