
.btn_submit {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.frm_text {
    width: 100%;
}

.frm {
    width: 60%;
}
