.main {
    -ms-flex: 40%; /* IE10 */
    flex: 40%;
    padding: 20px;
}


.side {
    -ms-flex: 60%; /* IE10 */
    flex: 60%;
    padding: 20px;
}

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
}

.footer {
    padding: 20px;
    text-align: center;
    background-color: #edeef0;
}

.topnav {
    padding: 20px;
    text-align: center;
    width: 100%;
    background-color: white;
}

.btn_submit {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.frm_text {
    width: 100%;
}

.frm {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.mrgn 
{
    margin: 5px;
}

.block-reg {
    margin: 20px;
    padding: 30px;
    align-content: center;
    border-radius: 4px;
    box-shadow: 0 1px 0 0 0, 0 0 0 1px #edeef0;
}

.background-main {
    background-color: #edeef0;
}

.background-white {
    background-color: white;
}

.text-color-gray {
    color: slategray;
}

.center {
    text-align: center;
    align-content: center;
    margin: 5px;
}

.enter_submit {
    background-color: #5181b8;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.main-img 
{
    width: 100%;
    max-width: 500px;
}

.text-size_12 {
    font-size: 15px;
}

.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.date_control 
{
    width: 25%;
    display: inline;
    min-width: max-content;
}

.date_box{
    width: 100%;
}